## Modelo conceitual
![Modelo conceitual](https://raw.githubusercontent.com/danielamorais/banco-de-dados-notas/master/Trabalho1-ModelagemV3.png)

## Modelo lógico

paciente(id, respostaTratamento)

quadroInicial(idQuadro, idPaciente, idVirus, cd4Count, viralLoad)

As chaves estrangeiras são: 

idPaciente -> paciente.id

idVirus -> virus.id

virus(id, prSequnce, rtSequence)

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [126]:
DROP TABLE IF EXISTS paciente;
DROP TABLE IF EXISTS quadroInicial;
DROP TABLE IF EXISTS virus;
DROP SEQUENCE IF EXISTS quadroInicial_seq;
DROP SEQUENCE IF EXISTS virus_seq;

In [127]:
CREATE TABLE paciente (
  id VARCHAR(4) NOT NULL,
  respostaTratamento INTEGER,
  PRIMARY KEY(id)
) AS SELECT
    PatientID,
    Resp
FROM CSVREAD('../data/training_data.csv');

In [128]:
ALTER TABLE paciente
ADD reagiuTratamento boolean;

In [129]:
UPDATE paciente SET reagiuTratamento=TRUE WHERE respostaTratamento=1;
UPDATE paciente SET reagiuTratamento=FALSE WHERE respostaTratamento=0;

In [130]:
ALTER TABLE paciente
DROP COLUMN respostaTratamento; 

ALTER TABLE paciente RENAME COLUMN reagiuTratamento TO respostaTratamento;

In [131]:
CREATE SEQUENCE virus_seq; 

CREATE TABLE virus (
  id BIGINT default virus_seq.nextval primary key,
  prSequence VARCHAR(2000),
  rtSequence VARCHAR(2000),  
  PRIMARY KEY(id)
) AS SELECT
    virus_seq.nextval,
    "PR Seq",
    "RT Seq"
FROM CSVREAD('../data/training_data.csv');

In [132]:
CREATE SEQUENCE quadroInicial_seq; 

CREATE TABLE quadroInicial (
  id BIGINT default quadroInicial_seq.nextval primary key,
  cd4Count DOUBLE,
  viralLoad DOUBLE,  
  idPaciente VARCHAR(4) NOT NULL,
  idVirus BIGINT,
  FOREIGN KEY (idPaciente) REFERENCES paciente(id),  
  FOREIGN KEY (idVirus) REFERENCES virus(id),  
  PRIMARY KEY(id)
) AS SELECT
    quadroInicial_seq.nextval,
    cd4,
    vl,
    PatientID,
    PatientID
FROM CSVREAD('../data/training_data.csv');

In [133]:
SELECT * FROM (SELECT count(*) AS c FROM virus GROUP BY rtSequence, prSequence) n WHERE n.c >= 2 --Buscar por vírus que possuem rtSequence e prSequence iguais

In [134]:
SELECT COUNT(q.idPaciente) FROM QuadroInicial q WHERE cd4Count < 50 --Buscar por pacientes que possuem cd4 menor que 50

89

In [136]:
SELECT COUNT(Q.IdPaciente) FROM QuadroInicial Q,Paciente P WHERE cd4Count < 50 AND P.Id= Q.IdPaciente AND RespostaTratamento = true --Buscar por pacientes que possuem cd4 menor que 50 que reagiram bem ao tratamento

35

In [141]:
SELECT MAX(Q.viralLoad) FROM QuadroInicial Q, Paciente P WHERE Q.IdPaciente = P.Id AND P.RespostaTratamento = true; --A carga viral máxima de uma pessoa que teve sucesso no tratamento

575.0

In [139]:
SELECT MIN(Q.viralLoad) FROM QuadroInicial Q, Paciente P WHERE Q.IdPaciente = P.Id AND P.RespostaTratamento = true; --A carga cd4 mínima de uma pessoa que teve sucesso no tratamento

2.9